[v2ray_bridge]
x.x.x.x
y.y.y.y

[v2ray_bridge:vars]
ansible_python_interpreter=/usr/bin/python3
ansible_connection=ssh
ansible_user=ubuntu





[v2ray_upstream]
x.x.x.x
y.y.y.y

[v2ray_upstream:vars]
ansible_python_interpreter=/usr/bin/python3
ansible_connection=ssh
ansible_user=ubuntu
